<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shcool Management App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/custom.css" rel="stylesheet">
    <script src="js/custom.js"></script>
    <div><center><h1>Welcome G10 School of Chicago</h1></center></div>
    <div><center>
        <p>    <h3>Welcome to the best education platform available </h3>
        </p> </center></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"  crossorigin="anonymous">
</head>
<body>
<div> <center>

    <h1> <a href="/admin">    Login as an Admin</a></h1>


    <h1> <a href="/patient">    Login as a Teacher</a></h1>


    <h1>  <a href="/Doctor">   Login as a Student</a></h1>



</center>



</div>
</body>
<body>




</body>




</html>