<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
</head>
<body>
<div class="hero">
    <div>
        <p class="title">Teacher Detail</p>
        <form method="post" th:action="@{/api/teachers}" th:object="${teacher}">
            <input class="input" id="id" placeholder="" required th:field="*{id}" type="text" readonly/>
            <input class="input"id="firstName" placeholder="Enter First Name" required th:field="*{firstName}" type="text"/>
            <input class="input"id="lastName" placeholder="Enter Last Name" required th:field="*{lastName}" type="text"/>
            <input class="input"id="gender" placeholder="Enter Gender" required th:field="*{gender}" type="text"/>
            <input class="input"id="email" placeholder="Enter Email" required th:field="*{email}" type="text"/>
            <input class="input"id="dob" placeholder="Enter DOB" required th:field="*{dob}" type="text"/>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" th:text="${btnAddOrModifyLabel}"></button>

                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    &nbsp;
    &nbsp;
    <p class="title">Teacher List</p>
    <div th:if="${#lists.isEmpty(teacher)}">No Teacher</div>
    <div th:unless="${#lists.isEmpty(teacher)}">
        <table class="table is-striped is-bordered">
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Delete</th>
            </tr>
            <tr th:each="course: ${teacher}">
                <td th:text="${teacher.id}"></td>
                <td th:text="${teacher.firstName}"></td>
                <td th:text="${teacher.lastName}"></td>
                <td th:text="${teacher.gender}"></td>
                <td th:text="${teacher.email}"></td>
                <td th:text="${teacher.dob}"></td>

                <td><a th:href="'teacher/edit/' + ${teacher.id}"><i class="fas fa-user-edit ml-2"></i></a></td>
                <td><a th:href="'teacher/delete/' + ${teacher.id}"><i class="fas fa-user-times ml-2"></i></a></td>
            </tr>
        </table>
    </div>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <strong>SE452</strong> by
        <a
                href="https://github.com/JarediKey/SE452Group10"
        >Yours Truly</a
        >
    </div>
</footer>
</body>
</html>
